<section id="syntax-highlighting">

	<h2>Syntax Highlighting</h2>

	<p>Yellowblue uses <a href="http://prismjs.com">Prism</a>, a lightweight, extensible syntax highlighter, built with modern web standards in mind.</p>

	<div class="row">

		<div class="one-third-width">
			<h3>Markup</h3>
<pre class="line-numbers">
<code class="language-markup">&lt;div class="row">
	&lt;div class="full-width">
		.full-width
	&lt;/div>
&lt;/div>
&lt;div class="row">
	&lt;div class="half-width">
		.half-width
	&lt;/div>
	&lt;div class="half-width">
		.half-width
	&lt;/div>
&lt;/div></code>
</pre>
		</div>

		<div class="one-third-width">
			<h3>CSS</h3>
<pre class="line-numbers">
<code class="language-css">body {
	background-color: blue;
	color: yellow;
}

p {
	font-size: 1em;
	margin: 1em .5em;
}</code>
</pre>
		</div>

		<div class="one-third-width">
			<h3>Javascript</h3>
<pre class="line-numbers">
<code class="language-javascript">var foo = "bar", baz = 5;

if (true) {
	while (true) {
		doSomething();
	}
}			</code>
</pre>
		</div>

	</div>

</section>
