---
layout: default
---

{% comment %} <!-- Paginated posts --> {% endcomment %}
{% for post in paginator.posts %}
  {% include teaser.html %}
{% endfor %}

{% comment %} <!-- Pagination Links --> {% endcomment %}

<div class="row">

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a class="pagination-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;</a>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="current-page">{{ page }}</span>
        {% elsif page == 1 %}
          <a class="pagination-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a class="pagination-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a class="pagination-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&rarr;</a>
      {% endif %}
  </div>
{% endif %}

</div>

{% comment %} <!-- Modules --> {% endcomment %}
<div class="row front-page-modules-1">
  <div class="module half-width">
    <header class="block-module-header">
      <h3>Module Title</h3>
    </header>
    <div class="module-body">
      <p>Module content goes here</p>
    </div>
  </div>
  <div class="module half-width">
    <header class="block-module-header">
      <h3>Module Title</h3>
    </header>
    <div class="module-body">
      <p>Module content goes here</p>
    </div>
  </div>
</div>

<div class="row front-page-modules-2">
  <div class="module full-width">
    <header class="block-module-header">
      <h3>Module Title</h3>
    </header>
    <div class="module-body">
      <p>Module content goes here</p>
    </div>
  </div>
</div>
