<section class="show-code">
	<button class="btn-green show-me-the-code">The Code</button>

<pre class="line-numbers">
<code class="language-markup">&lt;div class="row">
	&lt;div class="half-width" >
		&lt;h3>Default Table&lt;/h3>
		&lt;div class="table-container">
			&lt;table class="pure-table full-width">
			    &lt;thead>
			        &lt;tr>
			            &lt;th>#&lt;/th>
			            &lt;th>Make&lt;/th>
			            &lt;th>Model&lt;/th>
			            &lt;th>Year&lt;/th>
			        &lt;/tr>
			    &lt;/thead>
			    &lt;tbody>
			        &lt;tr>
			            &lt;td>1&lt;/td>
			            &lt;td>Honda&lt;/td>
			            &lt;td>Accord&lt;/td>
			            &lt;td>2009&lt;/td>
			        &lt;/tr>
			        &lt;tr>
			            &lt;td>2&lt;/td>
			            &lt;td>Toyota&lt;/td>
			            &lt;td>Camry&lt;/td>
			            &lt;td>2012&lt;/td>
			        &lt;/tr>
			        &lt;tr>
			            &lt;td>3&lt;/td>
			            &lt;td>Hyundai&lt;/td>
			            &lt;td>Elantra&lt;/td>
			            &lt;td>2010&lt;/td>
			        &lt;/tr>
			    &lt;/tbody>
			&lt;/table>
		&lt;/div>
	&lt;/div>

	&lt;div class="half-width">
		&lt;h3>Bordered Table&lt;/h3>
		&lt;div class="table-container">
			&lt;table class="pure-table pure-table-bordered full-width">
			    &lt;thead>
			        &lt;tr>
			            &lt;th>#&lt;/th>
			            &lt;th>Make&lt;/th>
			            &lt;th>Model&lt;/th>
			            &lt;th>Year&lt;/th>
			        &lt;/tr>
			    &lt;/thead>
			    &lt;tbody>
			        &lt;tr>
			            &lt;td>1&lt;/td>
			            &lt;td>Honda&lt;/td>
			            &lt;td>Accord&lt;/td>
			            &lt;td>2009&lt;/td>
			        &lt;/tr>
			        &lt;tr>
			            &lt;td>2&lt;/td>
			            &lt;td>Toyota&lt;/td>
			            &lt;td>Camry&lt;/td>
			            &lt;td>2012&lt;/td>
			        &lt;/tr>
			        &lt;tr>
			            &lt;td>3&lt;/td>
			            &lt;td>Hyundai&lt;/td>
			            &lt;td>Elantra&lt;/td>
			            &lt;td>2010&lt;/td>
			        &lt;/tr>
			    &lt;/tbody>
			&lt;/table>
		&lt;/div>
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="half-width">
		&lt;h3>Table with Horizontal Borders&lt;/h3>
		&lt;div class="table-container">
			&lt;table class="pure-table pure-table-horizontal full-width">
			    &lt;thead>
			        &lt;tr>
			            &lt;th>#&lt;/th>
			            &lt;th>Make&lt;/th>
			            &lt;th>Model&lt;/th>
			            &lt;th>Year&lt;/th>
			        &lt;/tr>
			    &lt;/thead>
			    &lt;tbody>
			        &lt;tr>
			            &lt;td>1&lt;/td>
			            &lt;td>Honda&lt;/td>
			            &lt;td>Accord&lt;/td>
			            &lt;td>2009&lt;/td>
			        &lt;/tr>
			        &lt;tr>
			            &lt;td>2&lt;/td>
			            &lt;td>Toyota&lt;/td>
			            &lt;td>Camry&lt;/td>
			            &lt;td>2012&lt;/td>
			        &lt;/tr>
			        &lt;tr>
			            &lt;td>3&lt;/td>
			            &lt;td>Hyundai&lt;/td>
			            &lt;td>Elantra&lt;/td>
			            &lt;td>2010&lt;/td>
			        &lt;/tr>
			    &lt;/tbody>
			&lt;/table>
		&lt;/div>
	&lt;/div>

	&lt;div class="half-width">
		&lt;h3>Striped Table&lt;/h3>
		&lt;div class="table-container">
			&lt;table class="pure-table pure-table-striped full-width">
			    &lt;thead>
			        &lt;tr>
			            &lt;th>#&lt;/th>
			            &lt;th>Make&lt;/th>
			            &lt;th>Model&lt;/th>
			            &lt;th>Year&lt;/th>
			        &lt;/tr>
			    &lt;/thead>
			    &lt;tbody>
			        &lt;tr>
			            &lt;td>1&lt;/td>
			            &lt;td>Honda&lt;/td>
			            &lt;td>Accord&lt;/td>
			            &lt;td>2009&lt;/td>
			        &lt;/tr>
			        &lt;tr>
			            &lt;td>2&lt;/td>
			            &lt;td>Toyota&lt;/td>
			            &lt;td>Camry&lt;/td>
			            &lt;td>2012&lt;/td>
			        &lt;/tr>
			        &lt;tr>
			            &lt;td>3&lt;/td>
			            &lt;td>Hyundai&lt;/td>
			            &lt;td>Elantra&lt;/td>
			            &lt;td>2010&lt;/td>
			        &lt;/tr>
			    &lt;/tbody>
			&lt;/table>
		&lt;/div>
	&lt;/div>
&lt;/div></code>
</pre>

</section>