<section id="tables">

	<h2>Tables</h2>

	<p>I really like the tables from <a href="http://purecss.io/">Pure CSS</a>, so the basic styling for tables is taken from there.</p>

	{% include patterns/tables/default_tables.html %}
	{% include patterns/tables/default_tables_code.html %}

	{% include patterns/tables/yb_tables.html %}
	{% include patterns/tables/yb_tables_code.html %}

	<div class="row">
		<div class="full-width">
			<a class="return-to-top" href="#pattern-library-nav">
	      <div class="svg-container">
	        <svg class="icon icon-blue icon-blue icon-arrow-up-left2" viewBox="0 0 32 32">
	          <use xlink:href="#icon-arrow-up-left2 "></use>
	        </svg>
	      </div>
	      Return to top
			</a>
		</div>
	</div>

</section>
