<div class="row">
	<div class="half-width">
		<h3>Default Table (Yellow Variation)</h3>
		<div class="table-container">
			<table class="pure-table full-width yellow-var">
			    <thead>
			        <tr>
			            <th>#</th>
			            <th>Make</th>
			            <th>Model</th>
			            <th>Year</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>1</td>
			            <td>Honda</td>
			            <td>Accord</td>
			            <td>2009</td>
			        </tr>
			        <tr>
			            <td>2</td>
			            <td>Toyota</td>
			            <td>Camry</td>
			            <td>2012</td>
			        </tr>
			        <tr>
			            <td>3</td>
			            <td>Hyundai</td>
			            <td>Elantra</td>
			            <td>2010</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>

	<div class="half-width">
		<h3>Bordered Table (Blue Variation)</h3>
		<div class="table-container">
			<table class="pure-table pure-table-bordered full-width blue-var">
			    <thead>
			        <tr>
			            <th>#</th>
			            <th>Make</th>
			            <th>Model</th>
			            <th>Year</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>1</td>
			            <td>Honda</td>
			            <td>Accord</td>
			            <td>2009</td>
			        </tr>
			        <tr>
			            <td>2</td>
			            <td>Toyota</td>
			            <td>Camry</td>
			            <td>2012</td>
			        </tr>
			        <tr>
			            <td>3</td>
			            <td>Hyundai</td>
			            <td>Elantra</td>
			            <td>2010</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="half-width">
		<h3>Table with Horizontal Borders (Light Blue Variation)</h3>
		<div class="table-container">
			<table class="pure-table pure-table-horizontal full-width light-blue-var">
			    <thead>
			        <tr>
			            <th>#</th>
			            <th>Make</th>
			            <th>Model</th>
			            <th>Year</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>1</td>
			            <td>Honda</td>
			            <td>Accord</td>
			            <td>2009</td>
			        </tr>
			        <tr>
			            <td>2</td>
			            <td>Toyota</td>
			            <td>Camry</td>
			            <td>2012</td>
			        </tr>
			        <tr>
			            <td>3</td>
			            <td>Hyundai</td>
			            <td>Elantra</td>
			            <td>2010</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>

	<div class="half-width">
		<h3>Striped Table (Blue Variation)</h3>
		<div class="table-container">
			<table class="pure-table pure-table-striped full-width blue-var">
			    <thead>
			        <tr>
			            <th>#</th>
			            <th>Make</th>
			            <th>Model</th>
			            <th>Year</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>1</td>
			            <td>Honda</td>
			            <td>Accord</td>
			            <td>2009</td>
			        </tr>
			        <tr>
			            <td>2</td>
			            <td>Toyota</td>
			            <td>Camry</td>
			            <td>2012</td>
			        </tr>
			        <tr>
			            <td>3</td>
			            <td>Hyundai</td>
			            <td>Elantra</td>
			            <td>2010</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>