<h3>Bordered Icons</h3>
<p>
	<div class="svg-container bordered">
		<svg class="icon icon-html52" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Squared
</p>
<p>
	<div class="svg-container rounded">
		<svg class="icon icon-html52" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Rounded
</p>
<p>
	<div class="svg-container circled">
		<svg class="icon icon-html52" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Circled
</p>
<p>
	<div class="svg-container-large bordered">
		<svg class="icon icon-html52" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Squared
</p>
<p>
	<div class="svg-container-large rounded">
		<svg class="icon icon-html52" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Rounded
</p>
<p>
	<div class="svg-container-large circled">
		<svg class="icon icon-html52" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Circled
</p>
<p>
	<div class="svg-container-larger bordered">
		<svg class="icon icon-html52" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Squared
</p>
<p>
	<div class="svg-container-larger rounded">
		<svg class="icon icon-html52" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Rounded
</p>
<p>
	<div class="svg-container-larger circled">
		<svg class="icon icon-html52" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Circled
</p>