<section class="show-code">
	<button class="btn-green show-me-the-code">The Code</button>

<pre class="line-numbers">
<code class="language-markup">&lt;p>
	&lt;div class="svg-container bordered">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Squared
&lt;/p>
&lt;p>
	&lt;div class="svg-container rounded">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Rounded
&lt;/p>
&lt;p>
	&lt;div class="svg-container circled">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Circled
&lt;/p>
&lt;p>
	&lt;div class="svg-container-large bordered">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Squared
&lt;/p>
&lt;p>
	&lt;div class="svg-container-large rounded">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Rounded
&lt;/p>
&lt;p>
	&lt;div class="svg-container-large circled">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Circled
&lt;/p>
&lt;p>
	&lt;div class="svg-container-larger bordered">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Squared
&lt;/p>
&lt;p>
	&lt;div class="svg-container-larger rounded">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Rounded
&lt;/p>
&lt;p>
	&lt;div class="svg-container-larger circled">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Circled
&lt;/p></code>
</pre>

</section>