<h3>Colored Icons</h3>
<p>
	<div class="svg-container-large">
		<svg class="icon icon-html52 icon-blue" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Blue
</p>
<p>
	<div class="svg-container-large">
		<svg class="icon icon-html52 icon-light-blue" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Light Blue
</p>
<p>
	<div class="svg-container-large">
		<svg class="icon icon-html52 icon-green" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Green
</p>
<p>
	<div class="svg-container-large">
		<svg class="icon icon-html52 icon-orange" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Orange
</p>
<p>
	<div class="svg-container-large">
		<svg class="icon icon-html52 icon-red" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Red
</p>
<p>
	<div class="svg-container-large">
		<svg class="icon icon-html52 icon-gray" viewBox="0 0 32 32">
			<use xlink:href="#icon-html52"></use>
		</svg>
	</div> Gray
</p>