<section class="show-code">
	<button class="btn-green show-me-the-code">The Code</button>

<pre class="line-numbers">
<code class="language-markup">&lt;p>
	&lt;div class="svg-container-large">
		&lt;svg class="icon icon-html52 icon-blue" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Blue
&lt;/p>
&lt;p>
	&lt;div class="svg-container-large">
		&lt;svg class="icon icon-html52 icon-light-blue" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Light Blue
&lt;/p>
&lt;p>
	&lt;div class="svg-container-large">
		&lt;svg class="icon icon-html52 icon-green" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Green
&lt;/p>
&lt;p>
	&lt;div class="svg-container-large">
		&lt;svg class="icon icon-html52 icon-orange" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Orange
&lt;/p>
&lt;p>
	&lt;div class="svg-container-large">
		&lt;svg class="icon icon-html52 icon-red" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Red
&lt;/p>
&lt;p>
	&lt;div class="svg-container-large">
		&lt;svg class="icon icon-html52 icon-gray" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Gray	
&lt;/p></code>
</pre>

</section>