<section id="icons">

	<h2>Icons</h2>

	<p>
		Yellowblue uses <a href="https://icomoon.io/">IcoMoon</a>, a collection of free and quality icons. The icons come as SVG sprites.
	</p>

	<ul>
		<li><span class="bold">SVG</span> means vector based shapes, which do not lose quality no matter how large they are. Oh, and they look great on retina screens.</li>
		<li><span class="bold">Sprites</span> means that the icons are all squished inside a single file. This file is included in the html file, which means no extra http requests.</li>
	</ul>

	<div class="row">

		<div class="one-third-width">
			{% include patterns/icons/icons_sizes.html %}
			{% include patterns/icons/icons_sizes_code.html %}
		</div>

		<div class="one-third-width">
			{% include patterns/icons/bordered_icons.html %}
			{% include patterns/icons/bordered_icons_code.html %}
		</div>

		<div class="one-third-width">
			{% include patterns/icons/colored_icons.html %}
			{% include patterns/icons/colored_icons_code.html %}
		</div>

	</div>

</section>
