<section class="show-code">
	<button class="btn-green show-me-the-code">The Code</button>

<pre class="line-numbers">
<code class="language-markup">&lt;p>
	&lt;div class="svg-container">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Default
&lt;/p>
&lt;p>
	&lt;div class="svg-container-large">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Large
&lt;/p>
&lt;p>
	&lt;div class="svg-container-larger">
		&lt;svg class="icon icon-html52" viewBox="0 0 32 32">
			&lt;use xlink:href="#icon-html52">&lt;/use>
		&lt;/svg>
	&lt;/div> Larger
&lt;/p></code>
</pre>

</section>
