<section class="show-code">
	<button class="btn-green show-me-the-code">The Code</button>

<pre class="line-numbers">
<code class="language-markup">&lt;div class="row">
	&lt;div class="full-width">
		.full-width
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="half-width">
		.half-width
	&lt;/div>
	&lt;div class="half-width">
		.half-width
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="one-third-width">
		.one-third-width
	&lt;/div>
	&lt;div class="two-thirds-width">
		.two-thirds-width
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="two-thirds-width">
		.two-thirds-width
	&lt;/div>
	&lt;div class="one-third-width">
		.one-third-width
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="one-third-width">
		.one-third-width
	&lt;/div>
	&lt;div class="one-third-width">
		.one-third-width
	&lt;/div>
	&lt;div class="one-third-width">
		.one-third-width
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="a-quarter-width">
		.a-quarter-width
	&lt;/div>
	&lt;div class="a-quarter-width">
		.a-quarter-width
	&lt;/div>
	&lt;div class="a-quarter-width">
		.a-quarter-width
	&lt;/div>
	&lt;div class="a-quarter-width">
		.a-quarter-width
	&lt;/div>
&lt;/div></code>

</pre>

</section>