<section id="grid" class="patterns-grid">
	<h2>Grid</h2>

	<div class="row">
		<div class="full-width">
			.full-width
		</div>
	</div>

	<div class="row">
		<div class="half-width">
			.half-width
		</div>
		<div class="half-width">
			.half-width
		</div>
	</div>

	<div class="row">
		<div class="one-third-width">
			.one-third-width
		</div>
		<div class="two-thirds-width">
			.two-thirds-width
		</div>
	</div>

	<div class="row">
		<div class="two-thirds-width">
			.two-thirds-width
		</div>
		<div class="one-third-width">
			.one-third-width
		</div>
	</div>

	<div class="row">
		<div class="one-third-width">
			.one-third-width
		</div>
		<div class="one-third-width">
			.one-third-width
		</div>
		<div class="one-third-width">
			.one-third-width
		</div>
	</div>

	<div class="row">
		<div class="a-quarter-width">
			.a-quarter-width
		</div>
		<div class="a-quarter-width">
			.a-quarter-width
		</div>
		<div class="a-quarter-width">
			.a-quarter-width
		</div>
		<div class="a-quarter-width">
			.a-quarter-width
		</div>
	</div>
</section>
