{% include patterns/layout/grid.html %}

{% include patterns/layout/grid_code.html %}

<div class="row">
	<div class="full-width">
		<a class="return-to-top" href="#pattern-library-nav">
      <div class="svg-container">
        <svg class="icon icon-blue icon-blue icon-arrow-up-left2" viewBox="0 0 32 32">
          <use xlink:href="#icon-arrow-up-left2 "></use>
        </svg>
      </div>
      Return to top
		</a>
	</div>
</div>
<hr>

{% include patterns/layout/modules.html %}
{% include patterns/layout/modules_code.html %}
