<section class="show-code">
	<button class="btn-green show-me-the-code">The Code</button>

<pre class="line-numbers">
<code class="language-markup">&lt;div class="row">
	&lt;div class="module full-width">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="module half-width blue-var">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="module half-width dark-blue-var">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="module one-third-width">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="module two-thirds-width">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="module two-thirds-width dark-blue-var">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="module one-third-width">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="module one-third-width blue-var">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="module one-third-width dark-blue-var">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="module one-third-width blue-var">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
&lt;/div>

&lt;div class="row">
	&lt;div class="module a-quarter-width dark-blue">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="module a-quarter-width">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="module a-quarter-width blue-var">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="module a-quarter-width">
		&lt;header class="block-module-header">
			&lt;h3>Sidebar Module&lt;/h3>
		&lt;/header>
		&lt;div class="module-body">
			&lt;p>Sidebar Module content&lt;/p>
		&lt;/div>
	&lt;/div>
&lt;/div></code>

</pre>

</section>