<nav class="site-nav">

  <ul>

    <li>
      <a href="{{ '/' | prepend:site.baseurl }}"> <!-- Place the link inside the double quotes -->
        Home <!-- The text of the link -->
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="{{ '/pattern-library' | prepend:site.baseurl }}"> <!-- Place the link inside the double quotes -->
        Pattern Library <!-- The text of the link -->
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="{{ '/archives' | prepend:site.baseurl }}">
        Archives
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="{{ '/icons' | prepend:site.baseurl }}">
        Icons
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="{{ '/404' | prepend:site.baseurl }}">
        404
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="{{ '/contact' | prepend:site.baseurl }}">
        Contact
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a target="_blank" href="http://chalatz.github.io/yellowblue-docs/">
        Documentation
        <div class="border1"></div>
        <div class="border2"></div>
      
        <div class="svg-container">
          <svg class="icon icon-newtab icon-blue" viewBox="0 0 32 32">
            <use xlink:href="#icon-newtab"></use>
          </svg>
        </div> 
      </a>     
    </li>    

  </ul>

</nav>