<nav class="site-nav">

  <ul>

    <li>
      <a href="/"> <!-- Place the link inside the double quotes -->
        Home <!-- The text of the link -->
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/pattern-library"> <!-- Place the link inside the double quotes -->
        Pattern Library <!-- The text of the link -->
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/archives">
        Archives
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/icons">
        Icons
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/404">
        404
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/contact">
        Contact
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a target="_blank" href="http://chalatz.github.io/yellowblue-docs/">
        Documentation
        <div class="border1"></div>
        <div class="border2"></div>
      
        <div class="svg-container">
          <svg class="icon icon-newtab icon-blue" viewBox="0 0 32 32">
            <use xlink:href="#icon-newtab"></use>
          </svg>
        </div> 
      </a>     
    </li>    

  </ul>

</nav>