<section class="show-code">
	<button class="btn-green show-me-the-code">The Code</button>

<pre class="line-numbers">
<code class="language-markup">&lt;p>&lt;button class="btn">Default style&lt;/button>&lt;/p>
&lt;p>&lt;button class="btn-primary">Primary style&lt;/button>&lt;/p>
&lt;p>&lt;button class="btn-blue">Blue style&lt;/button>&lt;/p>
&lt;p>&lt;button class="btn-green">Green style&lt;/button>&lt;/p>
&lt;p>&lt;button class="btn-orange">Orange style&lt;/button>&lt;/p>
&lt;p>&lt;button class="btn-red">Red style&lt;/button>&lt;/p></code>
</pre>

</section>