<section id="buttons">
	<h2>Buttons</h2>
	<div class="row">

		<div class="one-third-width">
			{% include patterns/buttons/button_styles.html %}
			{% include patterns/buttons/button_styles_code.html %}
		</div>

		<div class="one-third-width">
			{% include patterns/buttons/button_sizes.html %}
			{% include patterns/buttons/button_sizes_code.html %}
		</div>
		<div class="one-third-width">
			{% include patterns/buttons/button_elements.html %}
			{% include patterns/buttons/button_elements_code.html %}
		</div>

	</div>
</section>
