<section>
	<div class="row">

		<div class="half-width">
			{% include patterns/typography/headings.html %}
			{% include patterns/typography/headings_code.html %}
		</div>

		<div class="half-width">
			{% include patterns/typography/blockquote.html %}
			{% include patterns/typography/blockquote_code.html %}
		</div>

	</div>
</section>

<div class="row">
	<div class="full-width">
		<a class="return-to-top" href="#pattern-library-nav">
      <div class="svg-container">
        <svg class="icon icon-blue icon-blue icon-arrow-up-left2" viewBox="0 0 32 32">
          <use xlink:href="#icon-arrow-up-left2 "></use>
        </svg>
      </div>
      Return to top
		</a>
	</div>
</div>
<hr>

<section>
	<div class="row">

		<div class="half-width">
			{% include patterns/typography/ul.html %}
			{% include patterns/typography/ul_code.html %}
		</div>

		<div class="half-width">
			{% include patterns/typography/ol.html %}
			{% include patterns/typography/ol_code.html %}
		</div>

	</div>
</section>
