<section class="show-code">
	<button class="btn-green show-me-the-code">The Code</button>

<pre class="line-numbers">
<code class="language-markup">&lt;label class="form-label" for="checkbox-1">
	&lt;input type="checkbox" name="checkbox" id="checkbox-1" value="checkbox-1" />
	Checkbox 1
&lt;/label>
&lt;label class="form-label" for="checkbox-2">
	&lt;input type="checkbox" name="checkbox" id="checkbox-2" value="checkbox-2" />
	Checkbox 2
&lt;/label>
&lt;label class="form-label" for="checkbox-3">
	&lt;input type="checkbox" name="checkbox" id="checkbox-3" value="checkbox-3" />
	Checkbox 3
&lt;/label></code>
</pre>

</section>