<section id="forms">

	<h2>Forms</h2>

	<form action="">

		{% include patterns/forms/text_inputs.html %}
		{% include patterns/forms/text_inputs_code.html %}
		{% include patterns/forms/text_inputs_widths.html %}
		{% include patterns/forms/text_inputs_widths_code.html %}

		<div class="row">

			<div class="one-third-width">
				{% include patterns/forms/radio_buttons.html %}
				{% include patterns/forms/radio_buttons_code.html %}
			</div>

			<div class="one-third-width">
				{% include patterns/forms/checkboxes.html %}
				{% include patterns/forms/checkboxes_code.html %}
			</div>

			<div class="one-third-width">
				{% include patterns/forms/dropdown.html %}
				{% include patterns/forms/dropdown_code.html %}
			</div>

	    </div>

	</form>

</section>
