<section class="show-code">
	<button class="btn-green show-me-the-code">The Code</button>

<pre class="line-numbers">
<code class="language-markup">&lt;label class="form-label" for="radio-choice-1">
	&lt;input type="radio" name="radio-group" id="radio-choice-1" value="choice-1" />
	Choice 1
&lt;/label>
&lt;label class="form-label" for="radio-choice-2">
	&lt;input type="radio" name="radio-group" id="radio-choice-2" value="choice-2" />
	Choice 2
&lt;/label>
&lt;label class="form-label" for="radio-choice-3">
	&lt;input type="radio" name="radio-group" id="radio-choice-3" value="choice-3" />
	Choice 3
&lt;/label></code>
</pre>

</section>