<section class="show-code">
	<button class="btn-green show-me-the-code">The Code</button>

<pre class="line-numbers">
<code class="language-markup">&lt;div class="row">
	&lt;label class="form-label" for="input-text">Text input label:&lt;/label>
	&lt;input type="text" name="input-text" placeholder="Text input">
&lt;/div>
&lt;p class="help-msg">Help text for the text input above&lt;/p>

&lt;div class="row">
	&lt;label class="form-label" for="password-text">Password label:&lt;/label>
	&lt;input type="password" name="password-text" placeholder="Password input">
&lt;/div>
&lt;p class="help-msg">Please provide a password&lt;/p>

&lt;div class="row">
	&lt;label class="form-label error-label" for="input-error-text">Error text input label:&lt;/label>
	&lt;input class="error-field" type="text" name="input-error-text" placeholder="Error text input">
&lt;/div>
&lt;p class="error-msg">Error text for the text input above&lt;/p>

&lt;div class="row">
	&lt;label class="form-label" for="textarea">Textarea:&lt;/label>
	&lt;textarea cols="40" rows="8" name="textarea" placeholder="Type your text here">&lt;/textarea>
&lt;/div></code>
</pre>

</section>