<h3>Text inputs</h3>
<div class="row">
	<label class="form-label" for="input-text">Text input label:</label>
	<input type="text" name="input-text" placeholder="Text input">
</div>
<p class="help-msg">Help text for the text input above</p>

<div class="row">
	<label class="form-label" for="password-text">Password label:</label>
	<input type="password" name="password-text" placeholder="Password input">
</div>
<p class="help-msg">Please provide a password</p>

<div class="row">
	<label class="form-label error-label" for="input-error-text">Error text input label:</label>
	<input class="error-field" type="text" name="input-error-text" placeholder="Error text input">
</div>
<p class="error-msg">Error text for the text input above</p>

<div class="row">
	<label class="form-label" for="textarea">Textarea:</label>
	<textarea cols="40" rows="8" name="textarea" placeholder="Type your text here"></textarea>
</div>