<h3>Various widths</h3>
<div class="row">
	<input class="full-width" type="text" name="input-text" placeholder="Full width Text input">
</div>

<div class="row">
	<input class="two-thirds-width" type="text" name="input-text" placeholder="Two thirds width Text input">
</div>

<div class="row">
	<input class="half-width" type="text" name="input-text" placeholder="Half width Text input">
</div>

<div class="row">
	<input class="one-third-width" type="text" name="input-text" placeholder="One third width Text input">
</div>

<div class="row">
	<input class="a-quarter-width" type="text" name="input-text" placeholder="A quarter width Text input">
</div>