---
layout: page
title: Pattern Library
---

<div id="pattern-library-nav" class="links-inline-list centered">
  <a href="#grid">
    <div class="svg-container">
  		<svg class="icon icon-blue icon-blue icon-arrow-down-left2" viewBox="0 0 32 32">
  			<use xlink:href="#icon-arrow-down-left2 "></use>
  		</svg>Grid
  	</div>

  </a>
  <a href="#modules">
    <div class="svg-container">
  		<svg class="icon icon-blue icon-arrow-down-left2" viewBox="0 0 32 32">
  			<use xlink:href="#icon-arrow-down-left2 "></use>
  		</svg>Modules
  	</div>

  </a>
  <a href="#headings">
    <div class="svg-container">
  		<svg class="icon icon-blue icon-arrow-down-left2" viewBox="0 0 32 32">
  			<use xlink:href="#icon-arrow-down-left2 "></use>
  		</svg>Headings
  	</div>

  </a>
  <a href="#lists">
    <div class="svg-container">
      <svg class="icon icon-blue icon-arrow-down-left2" viewBox="0 0 32 32">
        <use xlink:href="#icon-arrow-down-left2 "></use>
      </svg>Lists
    </div>

  </a>
  <a href="#buttons">
    <div class="svg-container">
      <svg class="icon icon-blue icon-arrow-down-left2" viewBox="0 0 32 32">
        <use xlink:href="#icon-arrow-down-left2 "></use>
      </svg>Buttons
    </div>

  </a>
  <a href="#forms">
    <div class="svg-container">
      <svg class="icon icon-blue icon-arrow-down-left2" viewBox="0 0 32 32">
        <use xlink:href="#icon-arrow-down-left2 "></use>
      </svg>Forms
    </div>

  </a>
  <a href="#syntax-highlighting">
    <div class="svg-container">
      <svg class="icon icon-blue icon-arrow-down-left2" viewBox="0 0 32 32">
        <use xlink:href="#icon-arrow-down-left2 "></use>
      </svg>Syntax Highlighting
    </div>

  </a>
  <a href="#icons">
    <div class="svg-container">
      <svg class="icon icon-blue icon-arrow-down-left2" viewBox="0 0 32 32">
        <use xlink:href="#icon-arrow-down-left2 "></use>
      </svg>Icons
    </div>

  </a>
  <a href="#notifications">
    <div class="svg-container">
      <svg class="icon icon-blue icon-arrow-down-left2" viewBox="0 0 32 32">
        <use xlink:href="#icon-arrow-down-left2 "></use>
      </svg>Notifications
    </div>

  </a>
  <a href="#tables">
    <div class="svg-container">
      <svg class="icon icon-blue icon-arrow-down-left2" viewBox="0 0 32 32">
        <use xlink:href="#icon-arrow-down-left2 "></use>
      </svg>Tables
    </div>

  </a>
</div>

{% include patterns/layout/layout.html %}

<div class="row">
	<div class="full-width">
		<a class="return-to-top" href="#pattern-library-nav">
      <div class="svg-container">
        <svg class="icon icon-blue icon-blue icon-arrow-up-left2" viewBox="0 0 32 32">
          <use xlink:href="#icon-arrow-up-left2 "></use>
        </svg>
      </div>
      Return to top
		</a>
	</div>
</div>
<hr>

{% include patterns/typography/typography.html %}

<div class="row">
	<div class="full-width">
		<a class="return-to-top" href="#pattern-library-nav">
      <div class="svg-container">
        <svg class="icon icon-blue icon-blue icon-arrow-up-left2" viewBox="0 0 32 32">
          <use xlink:href="#icon-arrow-up-left2 "></use>
        </svg>
      </div>
      Return to top
		</a>
	</div>
</div>
<hr>

{% include patterns/buttons/buttons.html %}

<div class="row">
	<div class="full-width">
		<a class="return-to-top" href="#pattern-library-nav">
      <div class="svg-container">
        <svg class="icon icon-blue icon-blue icon-arrow-up-left2" viewBox="0 0 32 32">
          <use xlink:href="#icon-arrow-up-left2 "></use>
        </svg>
      </div>
      Return to top
		</a>
	</div>
</div>
<hr>

{% include patterns/forms/forms.html %}

<div class="row">
	<div class="full-width">
		<a class="return-to-top" href="#pattern-library-nav">
      <div class="svg-container">
        <svg class="icon icon-blue icon-blue icon-arrow-up-left2" viewBox="0 0 32 32">
          <use xlink:href="#icon-arrow-up-left2 "></use>
        </svg>
      </div>
      Return to top
		</a>
	</div>
</div>
<hr>

{% include patterns/highlighter.html %}

<div class="row">
	<div class="full-width">
		<a class="return-to-top" href="#pattern-library-nav">
      <div class="svg-container">
        <svg class="icon icon-blue icon-blue icon-arrow-up-left2" viewBox="0 0 32 32">
          <use xlink:href="#icon-arrow-up-left2 "></use>
        </svg>
      </div>
      Return to top
		</a>
	</div>
</div>
<hr>

{% include icomoon.html %}
{% include patterns/icons/icons.html %}

<div class="row">
	<div class="full-width">
		<a class="return-to-top" href="#pattern-library-nav">
      <div class="svg-container">
        <svg class="icon icon-blue icon-blue icon-arrow-up-left2" viewBox="0 0 32 32">
          <use xlink:href="#icon-arrow-up-left2 "></use>
        </svg>
      </div>
      Return to top
		</a>
	</div>
</div>
<hr>

{% include patterns/notifications/notifications.html %}

<div class="row">
	<div class="full-width">
		<a class="return-to-top" href="#pattern-library-nav">
      <div class="svg-container">
        <svg class="icon icon-blue icon-blue icon-arrow-up-left2" viewBox="0 0 32 32">
          <use xlink:href="#icon-arrow-up-left2 "></use>
        </svg>
      </div>
      Return to top
		</a>
	</div>
</div>
<hr>

{% include patterns/tables/tables.html %}
